---
title: 我们的定价
description: 和风天气的定价，提供了开发者完全免费的方案，对于商业使用，我们按照你实际的使用量计费，对于大规模访问量的客户，我们还提供额外的折扣。
ref: price
---
<div class="price-index-page">
    <section class="pi-intro">
        <div class="container">
            <a class="qw-special-text text-center no-underline" href="https://1111.qweather.com" target="_blank" rel="noopener noreferrer">💰 2021年11月1-30日 充值最高返现金10%</a>
            <div class="pi-headline">
                <h1 class="text-center">{{ page.title }}</h1>
                <p class="text-center">非常简单，免费或者按实际使用付费</p>
            </div>
            <div class="pi-detail">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="pi-card">
                            <h2 class="card-title free">{{ site.data.t[page.lang].free }}</h2>
                            <p>1000次/天 <br /><span>普通用户</span></p>
                            <p>16700次/天<br /><span>开发者</span></p>
                            <p>无限访问量<br /><span>使用SDK</span></p>
                            <p>非商业使用</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="pi-card">
                            <h2 class="card-title paid">{{ site.data.t[page.lang].pi-paid }}</h2>
                            <p>最低1元/1000次<br /><span>标准定价</span></p>
                            <p>最低0.2元/1000次<br /><span>使用资源包</span></p>
                            <p>可用于商业行为</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pi-more">
        <div class="container">
            <h3>你可能还想了解更多</h3>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-md-offset-4">
                    <ul>
                        {% for item in site.data.content-list.price-more %}
                            <li>
                                <a href="{% if page.lang == "en" %}/en{% endif %}{{ item.link }}">
                                    {{ item.title[page.lang] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="pi-join">
        <a href="https://id.qweather.com/#/register?redirect=https://console.qweather.com{% if page.lang == "en" %}&lang=en{% endif %}" role="button" class="btn btn-std btn-long btn-lg">{{ site.data.t[page.lang].hp-regnow }}</a>
    </section>

</div>