name: 
  zh: 和风天气开发服务
  en: Dev.QWeather
brand:
  zh: 和风天气
  en: QWeather
description: 
  zh: 强大、丰富的天气数据服务
  en: Powerful and Various Weather Data Services
url: https://dev.qweather.com
logo: https://cdn.qweather.com/media/qw-logo-s-dark-800.png
timezone: Asia/Shanghai
lang: zh
license: Code for MIT, content for CC-BY-4.0
links:
  qweather: https://www.qweather.com
  id: https://id.qweather.com
  console: https://console.qweather.com
  blog: https://blog.qweather.com
  icons: https://icons.qweather.com
  widget: https://widget.qweather.com
  api: https://api.qweather.com
  devapi: https://devapi.qweather.com
  geoapi: https://geoapi.qweather.com
  datasetapi: https://datasetapi.qweather.com
  github: https://github.com/qwd
  mit: https://github.com/qwd/docs/blob/master/LICENSE
  ccby4: https://creativecommons.org/licenses/by/4.0/
  icp:
    number: 京ICP备15048401号-11
    url: https://beian.miit.gov.cn
  nis:
    number: 京公网安备11010502042548号
    url: http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502042548
webmaster_verifications:
  google: WFu5M6w9XiYrf3hgUBLxCA1Jrgb_CWTzXTPycVIqngg
  bing: EDFBFE217D2B905D82BE1D5A1BC9AB28
  baidu: code-emsTMHxQLF
algolia:
  app_id: T25W3F5EZF
  api_key: b6d7e64ad9d29597614562aa723ea028
  index_name: qweather
  container: "#docsearch"

defaults:
- scope:
    path: pages
  values:
    layout: html
    lang: zh
    permalink: "/:basename/"
    seo:
      type: WebPage
- scope:
    path: pages/en
  values:
    lang: en
    permalink: "/en/:basename/"
- scope:
    path: docs/_zh
  values:
    layout: article
    lang: zh
    seo:
      type: Article
    toc: true
- scope:
    path: docs/_en
  values:
    layout: article
    lang: en
    toc: true
- scope:
    path: docs/_zh/android-sdk
  values:
    weight: 3
- scope:
    path: docs/_en/android-sdk
  values:
    weight: 3

collections_dir: docs
collections:
  zh:
    permalink: "/docs/:path/"
    output: true
  en:
    permalink: "/en/docs/:path/"
    output: true
  snippets:
    permalink: "/snippets/:path/"
    output: false

sass:
  sass_dir: _sass
  style: compressed

exclude:
- CNAME
- README.md
- LICENSE
- test
- build.sh
- .github

plugins:
- jekyll-sitemap
- jekyll-redirect-from
