---
title: 开发文档
layout: html
description: 查看和风天气最新的开发文档，包括天气SDK、API、插件和代码库。
image: /assets/images/hp-feat-devtools.png
permalink: /docs/
redirect_from: /docs/sdk/
ref: docs-index
---

<div class="colorful docs-index">
    <div class="container">
        <img src="/assets/images/di-colorful-banner.png" width="100" alt="Icon for QWeather Develop Documentation">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description}}<br /><a href="{% if page.lang == "en" %}/en{% endif %}/docs/start/">快速开始</a></p>
    </div>
</div>

<div class="docs-index-page">
    <section class="di-sdk-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].di-weather-sdk }}</h2>
                <p>和风天气SDK可以快速的在iOS、Android设备上集成，并且只占用非常少的流量</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-ios-sdk-card.png" alt="iOS SDK icon">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/ios-sdk/">
                                        iOS SDK {{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-android-sdk-card.png" alt="Android SDK icon">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/android-sdk/">Android SDK
                                        {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-api-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].di-weather-api }}</h2>
                <p>和风天气API为用户提供一个简洁的RESTful API接口，用以访问基于位置的天气数据</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 hidden-xs">
                        <div class="card-item api">
                            <div class="row">
                                <div class="col-sm-offset-6 col-md-offset-6 col-sm-6 col-md-5">
                                    <div class="item-content api">
                                        <p>包括实况天气、30天预报、逐小时预报、空气质量AQI，灾害预警、分钟级降水、生活指数等天气数据服务。</p>
                                        <a href="{% if page.lang == "en" %}/en{% endif %}/docs/api/" class="btn btn-std"
                                            role="button">{{ site.data.t[page.lang].see }} Web API
                                            {{ site.data.t[page.lang].docs }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="visible-xs-block col-xs-12">
                        <div class="card-item">
                            <img class="top-radius" src="/assets/images/di-api-xs.png" alt="QWeather Web API">
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/api/">{{ site.data.t[page.lang].see }}
                                        Web API {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-widget-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].free }}{{ site.data.t[page.lang].widget }}</h2>
                <p>方便、自适应的天气插件可用于在任意网站、APP中，几乎不需要开发，而且完全免费</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-widget-standard-{{- page.lang -}}.png"
                                    alt="Free Standard Widget">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-standard }}</h3>
                                <p>
                                    适用常规网页，自定义颜色大小，支持横版、竖版和方形布局
                                </p>
                                <div class="content-link">
                                    <a
                                        href="{{ site.exturl.widget }}{% if page.lang == "en" %}/en{% endif %}/create-standard/">{{ site.data.t[page.lang].create }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/standard-widget/">{{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-widget-simple-{{- page.lang -}}.png"
                                    alt="Free Simple Widget">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-simple }}</h3>
                                <p>
                                    小巧的天气插件，适用于导航栏、菜单等位置，与网页内容融为一体
                                </p>
                                <div class="content-link">
                                    <a
                                        href="{{ site.exturl.widget }}{% if page.lang == "en" %}/en{% endif %}/create-simple/">{{ site.data.t[page.lang].create }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/simple-widget/">{{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-widget-mp-{{- page.lang -}}.png" alt="Free One Page Widget">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-mp }}</h3>
                                <p>
                                    响应式天气H5网页，适用APP或公众号，自适应大小，自动定位
                                </p>
                                <div class="content-link">
                                    <a
                                        href="{{ site.exturl.widget }}{% if page.lang == "en" %}/en{% endif %}/create-mobile-page/">{{ site.data.t[page.lang].create }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/mobile-page-widget/">{{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- widget sdk for mobile -->
                    <div class="col-xs-12 col-sm-6 hidden-md hidden-lg hidden-xl">
                        <div class="card-item">
                            <div class="item-bg widget-sdk-bg">
                                <img class="top-radius" src="/assets/images/di-widget-sdk-{{- page.lang -}}.png" alt="Free Widget SDK">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-sdk }}</h3>
                                <p>
                                    在iOS和Android应用的任意位置使用，支持多种布局和自定义样式
                                </p>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-ios/">{{ site.data.t[page.lang].widget }}
                                        iOS SDK {{ site.data.t[page.lang].docs }}</a>
                                </div>
                                <div class="content-link">
                                    <a
                                    href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-android/">{{ site.data.t[page.lang].widget }}
                                    Android SDK {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
                        <div class="card-item widget-sdk-bg widget-sdk">
                            <div class="item-bg widget-sdk">
                                <div class="row">
                                        <div class="col-sm-offset-5 col-sm-6 hidden-xs">
                                            <div class="item-content widget-sdk">
                                                <h3>{{ site.data.t[page.lang].widget }} SDK</h3>
                                                <p>在iOS和Android应用的任意位置使用，支持多种布局和自定义样式</p>
                                                <div class="content-link">
                                                    <a
                                                        href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-ios/">{{ site.data.t[page.lang].widget }}
                                                        iOS SDK {{ site.data.t[page.lang].docs }}</a>
                                                </div>
                                                <div class="content-link">
                                                    <a
                                                        href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-android/">{{ site.data.t[page.lang].widget }}
                                                        Android SDK {{ site.data.t[page.lang].docs }}</a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-owp-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].owp }}</h2>
                <p>天气普拉斯（OWP）是一款开源天气APP，提供iOS和Android源代码，通过简单的配置就可以创建一款自己的天气应用</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-owp-ios-{{- page.lang -}}.png" alt="OWP for iOS">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/owp/owp-for-ios/">iOS
                                        {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-owp-android-{{- page.lang -}}.png"
                                    alt="OWP for Android">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/owp/owp-for-android/">Android
                                        {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-lib-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].library }}</h2>
                <p>浏览示例代码和代码库</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
                        <div class="card-item lib">
                            <div class="row">
                                <div class="col-sm-offset-6 col-md-offset-6 col-sm-6 col-md-5">
                                    <div class="item-content lib">
                                        <p>我们提供了官方示例代码和第三方代码库，便于你的开发。如果你也有好的代码，欢迎与我们分享！</p>
                                        <a class="btn btn-std"
                                            href="{% if page.lang == "en" %}/en{% endif %}/docs/library/"
                                            role="button">{{ site.data.t[page.lang].see }}{% if page.lang == "en" %}&nbsp;{% endif %}{{ site.data.t[page.lang].library }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visible-xs-block col-xs-12">
                        <div class="card-item">
                            <img class="top-radius" src="/assets/images/di-lib-xs.png" alt="Code Libraries">
                            <div class="item-content">
                                <div class="content-link">
                                    <a
                                        href="{% if page.lang == "en" %}/en{% endif %}/docs/library/">{{ site.data.t[page.lang].see }}{% if page.lang == "en" %}&nbsp;{% endif %}{{ site.data.t[page.lang].library }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-resource-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].utility }}{% if page.lang == "en" %}&nbsp;{% endif %}{{ site.data.t[page.lang].resource }}
                </h2>
                <span class="headline-des">查看更多开发所需的资源</span>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>{{ site.data.t[page.lang].glossary }}</h3>
                    <ul>
                        {% for section in site.data.content-list.glossary %}
                        {% for item in section.list limit:7 %}
                        <li><a href="{% if page.lang == "en" %}/en{% endif %}/docs/start/glossary/#{{ item.title.en |
                                slugify }}">{{ item.title[page.lang] }}</a>
                        </li>
                        {% endfor %}
                        {% endfor %}
                        <li>
                            <a href="{% if page.lang == "en" %}/en{% endif %}/docs/start/glossary/"><strong>查看更多</strong></a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>{{ site.data.t[page.lang].resource }}</h3>
                    <ul>
                        {%- assign res = site.documents | where: "lang", page.lang | where: "tag", "start" | sort: "ref" %}
                        {%- for item in res %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {%- endfor %}
                    </ul>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block">
                    <h3>{{ site.data.t[page.lang].help }}</h3>
                    <ul>
                        {%- assign faqs = site.pages | where: "lang", page.lang | where: "tag", "faq" | sort: "ref" -%}
                        {%- for item in faqs %}
                        <li>
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
