{%- comment -%}
## Usage

{% include api-response.html group="weather" type="now" prefix="now" %}

## Data

See _data/response.yml

## Required Parameters
- group: set which data to display, only one value can be filled in.
- prefix: set prefix in the front of fields, like `now.temp`. if no prefix is needed, set prefix="nil". Please note, the order of multiple values must be the same as `type`, multiple values separated by spaces.

## Optional Parameters
- type: filter data types, i.e. in the weather group, you may want to filter only real-time weather, then set type="now", multiple values can be set, separated by spaces.
- update: set to 0 will remove `updateTime`, 1 is default.
- fxlink: set to 0 will remove `fxLink`, 1 is default.
{%- endcomment -%}
{%- assign show_statusCode = include.statusCode | default: 1 -%}
{%- assign show_fxlink = include.fxlink | default: 1 -%}
{%- assign show_update = include.update  | default: 1 -%}
{%- assign show_refer = include.refer  | default: 1 -%}
{%- assign isType = include.type  | default: false -%}
{%- assign type_array = include.type | split: " " -%}
{%- assign prefix_array = include.prefix | split: " " -%}
{%- assign num = type_array.size | minus: 1 -%}
{%- assign show_metadata = include.metadata | split: " "  -%}

<ul>
    {%- if show_metadata -%}
    {% for item in show_metadata %}
    <li class="mb-4">
        <code>metadata.{{ item }}</code> {{ site.data.dev.response.metadata[item][page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>       
    {% endfor %}
    {%- endif -%}
    {%- if show_statusCode == 1 %}
    <li class="mb-4">
        <code>{{ site.data.dev.response.code.name }}</code> {{ site.data.dev.response.code.desc[page.lang] | markdownify | remove: '<p>' | remove: '</p>' -}}
    </li>    
    {%- endif %}
    {%- if show_update == 1 %}
    <li class="mb-4">
        <code>{{ site.data.dev.response.update.name }}</code> {{ site.data.dev.response.update.desc[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
    </li> 
    {%- endif %}
    {%- if show_fxlink == 1 %}
    <li class="mb-4">
        <code>{{ site.data.dev.response.fxlink.name }}</code> {{ site.data.dev.response.fxlink.desc[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
    </li> 
    {%- endif %}
    {%- comment -%}data fields with type{%- endcomment %}     
    {%- if isType %}
    {%- for i in (0..num) %}
    {%- assign group_by_type = site.data.dev.response[include.group] | where: "type", type_array[{{i}}]  -%}
    {%- assign prefix_by_type = prefix_array[{{i}}] | append: "." -%}
    {%- for item in group_by_type %}
    <li class="mb-4">
        <code>{%- if prefix_by_type != "nil." %}{{ prefix_by_type }}{%- endif %}{{ item.name }}</code> {{ item.desc[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>
    {%- endfor %}
    {%- endfor %}
    {%- comment -%}data fields without type{%- endcomment -%} 
    {%- else %}
    {%- for item in site.data.dev.response[include.group] -%}
    <li class="mb-4">
        <code>{%- if include.prefix != "nil" %}{{ include.prefix | append: "." }}{%- endif %}{{ item.name }}</code> {{ item.desc[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>
    {%- endfor -%}
    {%- endif %}
    {%- comment -%}refer fields{%- endcomment -%}
    {%- for item in site.data.dev.response.refer -%}
    {%- if show_refer == 1 -%}
    <li class="mb-4">
        <code>refer.{{ item.name }}</code> {{ item.desc[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
    </li>       
    {%- endif -%}
    {%- endfor -%}
</ul>
