<footer>
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
          <section class="left">
            <div class="brand">
              <a href="{{ site.url }}">
                <img src="/assets/images/logo-s-light.png" width="30" alt="QWeather Logo"/><h3>{{ site.name[page.lang] }}</h3>
              </a>
            </div>
            <div class="subtitle">
              {{ site.data.t[page.lang].footer-des}}
            </div>
            <div class="goto-qw no-underline">
              <a href="https://www.qweather.com" target="_blank" role="button" rel="noopener noreferrer">{{ site.data.t[page.lang].goto-qw }}</a>
            </div>
          </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
          <section class="right">
            <div class="row">
              <div class=" col-xs-5 col-sm-4 col-md-5">
                <h3>{{ site.data.t[page.lang].doc}}</h3>
                <ul>
                  {%- for item in site.data.data-list.featdoc.list -%}
                  {%- assign docs = site.documents | where: "lang", page.lang | where: "ref", item.name | first %}
                  <li><a href="{{ docs.url }}">{{ docs.title }}</a></li>  
                  {%- endfor -%}
                </ul>
              </div>
              <div class="col-xs-3 col-sm-4 col-md-3">
                <h3>{{ site.data.t[page.lang].help}}</h3>
                <ul>
                  {%- assign faqs = site.pages | where: "lang", page.lang | where: "tag", "faq" | sort: "ref" -%}
                  {%- for item in faqs %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {%- endfor %}
                </ul>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <h3>{{ site.data.t[page.lang].more}}</h3>
                <ul>
                  <li><a href="{{ site.exturl.attr }}{%- if page.lang == "en" -%}/en{%- endif -%}/app/" target="_blank" rel="noopener noreferrer">{{ site.data.t[page.lang].getapp }}</a></li>
                  <li><a href="{{ site.exturl.attr }}{%- if page.lang == "en" -%}/en{%- endif -%}/contact" target="_blank" rel="noopener noreferrer" >{{ site.data.t[page.lang].contact }}</a></li>
                  <li><a href="{{ site.exturl.attr }}{%- if page.lang == "en" -%}/en{%- endif -%}/terms/developers-tos" target="_blank" rel="noopener noreferrer" >{{ site.data.t[page.lang].tos }}</a></li>
                  <li><a href="{{ site.exturl.attr }}{%- if page.lang == "en" -%}/en{%- endif -%}/terms/privacy" target="_blank" rel="noopener noreferrer" >{{ site.data.t[page.lang].privacy }}</a></li>
                  <li><a href="{{ site.exturl.attr }}{%- if page.lang == "en" -%}/en{%- endif -%}/terms/disclaimer" target="_blank" rel="noopener noreferrer" >{{ site.data.t[page.lang].disclaimer }}</a></li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">&copy; {{ site.time | date: "%Y" }} {{ site.data.t[page.lang].footer-copyright }}</div>
        <div class="col-xs-12 col-sm-12 col-md-6 text-right"><a href={{ site.icp.url }} target="_blank" rel="noopener noreferrer">{{ site.icp.number }}</a> &nbsp; <a href={{ site.nis.url }} target="_blank" rel="noopener noreferrer">{{ site.nis.number }}</a></div>
      </div>
    </div>
  </div>
</footer>