<footer class="pt-5">
  <div class="container mb-4">
    <div class="content row">
      <div class="col-12 col-md-5 text-md-left text-center">
        <a class="no-underline light-link mb-4 d-inline-block" href="{{ site.url }}">
          <img class="d-inline-block" src="/assets/images/logo-s-light.png" alt="QWeather Logo" width="30">
          <h3 class="color-white d-inline-block">{{ site.name[page.lang] }}</h3>
        </a>
        <div class="mb-4">
          <a class="light-link mr-1" href="https://www.qweather.com{%- if page.lang == "en" -%}/en{%- endif -%}/contact/" target="_blank" rel="noopener noreferrer">{{ site.data.t[page.lang].contact }}</a>&bull;
          <a class="light-link mx-1" href="{{site.links.blog}}" target="_blank" rel="noopener noreferrer">{{ site.data.t[page.lang].blog }}</a>&bull;
          <a class="light-link ml-1" href="{{site.links.github}}" target="_blank" rel="noopener noreferrer">Github</a>
        </div>
        <div class="mb-4 mb-md-0">
          <label class="mr-2" id="lang" for="">Language</label>
          {% include lang-switch.html %}
        </div>
      </div>
      <div class="col-4 col-md text-md-left text-center">
        <h3 class="color-light mb-4">{{ site.data.t[page.lang].doc}}</h3>
        <ul class="clear-list">
          {%- for item in site.data.contents.footer.docs -%}
          {%- assign docs = site.documents | concat: site.pages | where: "lang", page.lang | where: "ref", item.name | first -%}
          <li class="mb-2"><a class="light-link" href="{{ docs.url }}">{{ docs.title }}</a></li>  
          {%- endfor -%}
        </ul>
      </div>
      <div class="col-4 col-md text-md-left text-center">
        <h3 class="color-light mb-4">{{ site.data.t[page.lang].feats}}</h3>
        <ul class="clear-list">
          {%- for item in site.data.contents.footer.feats -%}
          {%- assign docs = site.documents | concat: site.pages | where: "lang", page.lang | where: "ref", item.name | first -%}
          <li class="mb-2"><a class="light-link" href="{{ docs.url }}">{{ docs.title }}</a></li>  
          {%- endfor -%}
        </ul>
      </div>
      <div class="col-4 col-md text-md-left text-center">
        <h3 class="color-light mb-4">{{ site.data.t[page.lang].more}}</h3>
        <ul class="clear-list">
          {%- for item in site.data.contents.footer.products -%}
          <li class="mb-2"><a class="light-link" href="{{ item.link }}">{{ item.name[page.lang] }}</a></li> 
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
  <div class="terms">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-auto mb-2 mb-md-0">
          <ul class="clear-list">
            <li class="mr-2 go-left">
              &copy; {{ site.time | date: "%Y" }} <a class="light-link" href="https://www.qweather.com/en/" target="_blank" rel="noopener noreferrer">QWeather</a>
            </li>
            {%- for item in site.data.contents.footer.terms -%}
            <li class="mr-2 go-left">
              <a class="light-link" href="{{site.links.qweather}}{%- if page.lang == "en" -%}/en{%- endif -%}{{item.link}}" target="_blank" rel="noopener noreferrer">{{item.name[page.lang]}}</a>
            </li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="col-12 col-md text-md-right">
          <a class="light-link" href={{ site.links.icp.url }} target="_blank" rel="noopener noreferrer">{{ site.links.icp.number }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>