<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
          <section class="left">
            <a class="logo" href="{{ site.url }}">
              <img src="/assets/images/logo-s-light.png" /><span class="sitename">dev.qweather</span>
            </a>
            <div class="build">
              {{ site.data.t[page.lang].powered }}
            </div>
          </section>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
          <section class="right">
            <div class="row">
              {% for group in site.data.nav.footer %}
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h3>{{ group.group }}</h3>
                <ul>
                  {% for item in group.list %}
                  <li><a href="{{ item.link }}"{% if group.group == "更多信息" %} target="_blank" rel="noopener noreferrer"
                      {% endif %}>{{ item.title }}</a></li>
                      {% endfor %}
                </ul>          
              </div>
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyrigh">
    <div class="container">
      &copy; 2020 <a href="https://www.{{ site.attribution }}" target="_blank">{{ site.attribution }}</a> All rights
      reserved. <a href={{ site.icp.url }} target="_blank" rel="noopener noreferrer">{{ site.icp.number }}</a> <img src={{ site.nis.icon}} width="14px" /> <a href={{ site.nis.url }} target="_blank" rel="noopener noreferrer">{{ site.nis.number }}</a>
    </div>
  </div>
</footer>