<ul class="nav navbar-nav navbar-left weather-widget visible-lg visible-md visible-sm">
    <li>
      <div id="he-plugin-simple"></div>
      <script>
        WIDGET = {
          CONFIG: {
            "modules": "20",
            "background": 5,
            "tmpColor": "FFFFFF",
            "tmpSize": "14",
            "cityColor": "FFFFFF",
            "citySize": "14",
            "aqiSize": "14",
            "weatherIconSize": "18",
            "alertIconSize": "14",
            "padding": "0px 0px 0px 0px",
            "shadow": "0",
            "language": "zh",
            "fixed": "false",
            "vertical": "middle",
            "horizontal": "center",
            "key": "acd0fdcab4b9481a98d0f59145420fac"
          }
        }
      </script>
      <script src="https://widget.heweather.net/simple/static/js/he-simple-common.js?v=1.2"></script>
    </li>
  </ul> 