{% if page.version == "s6" %}
<a class="new-alart navbar-fixed-top" href="/docs/api/">{{ site.data.t[page.lang].s6warning }}</a>
{% else %}
<header class="navbar-fixed-top">
  <nav class="container" id="header-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://dev.heweather.com">
        <img src="/assets/images/logo-white.png?v={{ site.data.time.resource }}" alt="{{ site.data.t[page.lang].sitename }}">
        <span>{{ site.data.t[page.lang].sitename }}</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">{{ site.data.t[page.lang]weatherapi }}</a></li>
      <li {% if page.url == "/widget/" %}class="active"{% endif %}><a href="/widget/">{{ site.data.t[page.lang]widget }}</a></li>
      <li {% if page.collection == "docs" %}class="active"{% endif %}><a href="/docs/start/">{{ site.data.t[page.lang]docs }}</a></li>
      <li {% if page.url == "/price/" %}class="active"{% endif %}><a href="/price/">{{ site.data.t[page.lang]price }}</a></li>
    </ul>
    {% include nav-widget.html %}
    <ul id="login" class="nav navbar-nav navbar-right hidden-xs">
      <li><a class="console" href="https://id.heweather.com/login?redirect=https://console.heweather.com">{{ site.data.t[page.lang].console }}</a></li>
      <li style="padding-right: 0"><a style="padding-right: 0" href="https://id.heweather.com/#/register?redirect=https://console.heweather.com">{{ site.data.t[page.lang].join }}</a></li>
    </ul>
    <ul id="logout" class="nav navbar-nav navbar-right hidden-xs" style="display: none">
      <li><a class="console" href="https://console.heweather.com">{{ site.data.t[page.lang].console }}</a></li>
      <li style="padding-right: 0"><a style="padding-right: 0" href="https://id.heweather.com/logout?redirect=https://dev.heweather.com">{{ site.data.t[page.lang].logout }}</a></li>
    </ul>
  </nav>
</header>
{% endif %}
