{%- comment -%}
Put this in anywhere and use `p` to select which parameter, e.g. {% include prams.html p="lang" %}
Multiple parameters are separated by spaces, e.g. {% include prams.html p="lang location" %}
{%- endcomment -%}
<div class="request-param">
    {%- assign param = include.p | split: " "  -%}
    <ul>
        {%- for item in param -%}
        <li class="mb-4">
            <code class="mr-1">{{ site.data.dev.p[item].name }}</code> {%- if site.data.dev.p[item].rqd %}<span class="mr-1 italic small text-bold">({{ site.data.t[page.lang].rqd }})</span>{%- endif -%} {{ site.data.dev.p[item].text[page.lang] | markdownify | remove: '<p>' | remove: '</p>' }}
        </li> 
        {%- endfor -%}
    </ul>
</div>


