---
title: Documentation
layout: html
description: Read the latest develop documentation for QWeather.
image: /assets/images/hp-feat-devtools.png
permalink: /en/docs/
ref: docs-index
---

<div class="colorful docs-index">
    <div class="container">
        <img src="/assets/images/di-colorful-banner.png" width="100" alt="Icon for QWeather Develop Documentation">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description}}<br /><a href="{% if page.lang == "en" %}/en{% endif %}/docs/start/">Getting Started</a></p>
    </div>
</div>

<div class="docs-index-page">
    <section class="di-sdk-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].di-weather-sdk }}</h2>
                <p>QWeather SDK can be quickly integrated on iOS, Android devices and takes up
                    very little traffic.</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-ios-sdk-card.png" alt="iOS SDK icon">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/ios-sdk/">
                                        iOS SDK {{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-android-sdk-card.png" alt="Android SDK icon">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/android-sdk/">Android SDK
                                        {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-api-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].di-weather-api }}</h2>
                <p>QWeather Web API provides a simple RESTful API to access location-based
                    weather data.</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 hidden-xs">
                        <div class="card-item api">
                            <div class="row">
                                <div class="col-sm-offset-6 col-md-offset-6 col-sm-6 col-md-5">
                                    <div class="item-content api">
                                        <p>Weather API provides a simple RESTful API to access location-based
                                            weather data</p>
                                        <a href="{% if page.lang == "en" %}/en{% endif %}/docs/api/" class="btn btn-std"
                                            role="button">{{ site.data.t[page.lang].see }} Web API
                                            {{ site.data.t[page.lang].docs }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="visible-xs-block col-xs-12">
                        <div class="card-item">
                            <img class="top-radius" src="/assets/images/di-api-xs.png" alt="QWeather Web API">
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/api/">{{ site.data.t[page.lang].see }}
                                        Web API {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-widget-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].free }}{{ site.data.t[page.lang].widget }}</h2>
                <p>Simple, adaptive weather widget can be used on any website or APP.</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-widget-standard-{{- page.lang -}}.png"
                                    alt="Free Standard Widget">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-standard }}</h3>
                                <p>
                                    For web page, support many layout and style
                                </p>
                                <div class="content-link">
                                    <a
                                        href="{{ site.exturl.widget }}{% if page.lang == "en" %}/en{% endif %}/create-standard/">{{ site.data.t[page.lang].create }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/standard-widget/">{{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-widget-simple-{{- page.lang -}}.png"
                                    alt="Free Simple Widget">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-simple }}</h3>
                                <p>
                                    Ideal for use in tight spaces such as navigation and menus
                                </p>
                                <div class="content-link">
                                    <a
                                        href="{{ site.exturl.widget }}{% if page.lang == "en" %}/en{% endif %}/create-simple/">{{ site.data.t[page.lang].create }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/simple-widget/">{{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-widget-mp-{{- page.lang -}}.png" alt="Free One Page Widget">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-mp }}</h3>
                                <p>
                                    Responsive weather web pages for mobile devices
                                </p>
                                <div class="content-link">
                                    <a
                                        href="{{ site.exturl.widget }}{% if page.lang == "en" %}/en{% endif %}/create-mobile-page/">{{ site.data.t[page.lang].create }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/mobile-page-widget/">{{ site.data.t[page.lang].docs }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- widget sdk for mobile -->
                    <div class="col-xs-12 col-sm-6 hidden-md hidden-lg hidden-xl">
                        <div class="card-item">
                            <div class="item-bg widget-sdk-bg">
                                <img class="top-radius" src="/assets/images/di-widget-sdk-{{- page.lang -}}.png" alt="Free Widget SDK">
                            </div>
                            <div class="item-content">
                                <h3>{{ site.data.t[page.lang].widget-sdk }}</h3>
                                <p>
                                    Integration in iOS and Android with support for multiple layouts and custom styles
                                </p>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-ios/">{{ site.data.t[page.lang].widget }}
                                        iOS SDK {{ site.data.t[page.lang].docs }}</a>
                                </div>
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-android/">{{ site.data.t[page.lang].widget }}
                                        Android SDK {{ site.data.t[page.lang].docs }}</a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs hidden-sm">
                        <div class="card-item widget-sdk-bg widget-sdk">
                            <div class="item-bg widget-sdk">
                                <div class="row">
                                        <div class="col-sm-offset-5 col-sm-6 hidden-xs">
                                            <div class="item-content widget-sdk">
                                                <h3>{{ site.data.t[page.lang].widget }} SDK</h3>
                                                <p>Integration in iOS and Android with support for multiple layouts and custom styles</p>
                                                <div class="content-link">
                                                    <a
                                                        href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-ios/">{{ site.data.t[page.lang].widget }}
                                                        iOS SDK {{ site.data.t[page.lang].docs }}</a>
                                                </div>
                                                <div class="content-link">
                                                    <a
                                                        href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/widget-for-android/">{{ site.data.t[page.lang].widget }}
                                                        Android SDK {{ site.data.t[page.lang].docs }}</a>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-owp-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].owp }}</h2>
                <p>OWP is an open source weather APP for iOS and Android. Simple configuration
                    and free</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-owp-ios-{{- page.lang -}}.png" alt="OWP for iOS">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/owp/owp-for-ios/">iOS
                                        {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="card-item">
                            <div class="item-bg">
                                <img class="top-radius" src="/assets/images/di-owp-android-{{- page.lang -}}.png"
                                    alt="OWP for Android">
                            </div>
                            <div class="item-content">
                                <div class="content-link">
                                    <a href="{% if page.lang == "en" %}/en{% endif %}/docs/owp/owp-for-android/">Android
                                        {{ site.data.t[page.lang].docs }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-lib-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].library }}</h2>
                <p>Browse for sample code and libraries.</p>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs">
                        <div class="card-item lib">
                            <div class="row">
                                <div class="col-sm-offset-6 col-md-offset-6 col-sm-6 col-md-5">
                                    <div class="item-content lib">
                                        <p>We provide official and third-party sample code to make your
                                            development easier.</p>
                                            <a class="btn btn-std" href="{% if page.lang == "en" %}/en{% endif %}/docs/library/" role="button">{{ site.data.t[page.lang].see }}{% if page.lang == "en" %}&nbsp;{% endif %}{{ site.data.t[page.lang].library }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="visible-xs-block col-xs-12">
                        <div class="card-item">
                            <img class="top-radius" src="/assets/images/di-lib-xs.png" alt="Code Libraries">
                            <div class="item-content">
                                <div class="content-link">
                                    <a
                                        href="{% if page.lang == "en" %}/en{% endif %}/docs/library/">{{ site.data.t[page.lang].see }}{% if page.lang == "en" %}&nbsp;{% endif %}{{ site.data.t[page.lang].library }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="di-resource-section">
        <div class="container">
            <div class="headline">
                <h2>{{ site.data.t[page.lang].utility }}{% if page.lang == "en" %}&nbsp;{% endif %}{{ site.data.t[page.lang].resource }}
                </h2>
                <span class="headline-des">Find more resources for development</span>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>{{ site.data.t[page.lang].glossary }}</h3>
                    <ul>
                        {% for section in site.data.content-list.glossary %}
                        {% for item in section.list limit:7 %}
                        <li><a href="{% if page.lang == "en" %}/en{% endif %}/docs/resource/glossary/#{{ item.title.en |
                                slugify }}">{{ item.title[page.lang] }}</a>
                        </li>
                        {% endfor %}
                        {% endfor %}
                        <li>
                            <a href="{% if page.lang == "en" %}/en{% endif %}/docs/resource/glossary/"><strong>See More</strong></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>{{ site.data.t[page.lang].resource }}</h3>
                    <ul>
                        {%- assign res = site.documents | where: "lang", page.lang | where: "tag", "resource" | sort: "ref" %}
                        {%- for item in res %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {%- endfor %}
                    </ul>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block">
                    <h3>{{ site.data.t[page.lang].help }}</h3>
                    <ul>
                        {%- assign faqs = site.pages | where: "lang", page.lang | where: "tag", "faq" | sort: "ref" -%}
                        {%- for item in faqs %}
                        <li>
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
