---
title: Dev.QWeather
description: QWeather provides global weather data services for developers and enterprise users, supporting weather API, weather widget, open source weather APP, weather SDKs and other development tools. Our weather data includes weather warning, real-time weather and forecast, air quality AQI, typhoon, tide, sunrise and sunset, etc.
image: /assets/images/hp-feat-data.png
permalink: /en/
ref: home
---

<div class="colorful homepage">
    <div class="container">
        <h1>{{ site.data.t[page.lang].hp-slogan }}</h1>
        <p>{{ site.data.t[page.lang].hp-slogan-d1 }}</p>
        <p>{{ site.data.t[page.lang].hp-slogan-d2 }}</p>
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <img src="/assets/images/hp-header-bg.png" alt="QWeather Develop background image">
            </div>
        </div>
    </div>
</div>
<div class="homepage-index-page">
    <div class="hp-feature">
        <div class="container">
            <div class="row feat-data feat-content">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="intro">
                        <h2>{{ site.data.t[page.lang].hp-data }}</h2>
                            <div class="visible-xs-block">
                                <div class="hp-card">
                                    <img src="/assets/images/hp-feat-data.png" alt="QWeather Develop weather data">
                                </div>
                            </div>
                        <p class="lead">Compliance, 150,000 cities, including weather, ocean, astronomy, typhoons, warning, air and geography</p>
                        <p>We use advanced algorithms to provide high precision, high stability of weather data services.</p>
                        <a href="{% if page.lang == "en" %}/en{% endif %}/help/data/" class="btn btn-std btn-line btn-md">
                            {{ site.data.t[page.lang].hp-seedata }}
                        </a>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 hidden-xs">
                    <div class="hp-card">
                        <img src="/assets/images/hp-feat-data.png" alt="QWeather Develop weather data">
                    </div>
                </div>
            </div>
            <div class="row feat-dev feat-content">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="intro">
                        <h2>{{ site.data.t[page.lang].hp-dev }}</h2>
                        <div class="visible-xs-block">
                            <div class="hp-card">
                                <img src="/assets/images/hp-feat-devtools.png" alt="QWeather Develop Tools">
                            </div>
                        </div>
                        <p class="lead">Easy and fast access to weather data using SDK or Web API</p>
                        <p>In addition to the develop docs, code libraries and open source APP examples are included to make your development work easier.</p>
                        <a href="{% if page.lang == "en" %}/en{% endif %}/docs/" class="btn btn-std btn-line btn-md">
                            {{ site.data.t[page.lang].hp-seedoc }}
                        </a>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 hidden-xs">
                    <div class="hp-card card-dev">
                        <img src="/assets/images/hp-feat-devtools.png" alt="QWeather Develop Tools">
                    </div>
                </div>
            </div>
            <div class="row feat-widget feat-content">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="intro">
                        <h2>{{ site.data.t[page.lang].widget }}</h2>
                        <div class="visible-xs-block">
                            <div class="hp-card">
                                <img src="/assets/images/hp-feat-widget-{{- page.lang -}}.png" alt="Free weather widget">
                            </div>
                        </div>
                        <p class="lead">Free weather widget provides easy configuration and out of the box</p>
                        <p>Widget offers web JS and SDKs, supports custom fonts, colors and layouts, sort or hide the element.
                        </p>
                        <a href="{% if page.lang == "en" %}/en{% endif %}/docs/widget/" class="btn btn-std btn-line btn-md">
                            {{ site.data.t[page.lang].hp-seedoc }}
                        </a>
                    </div>
                </div>
                <div class="col-sm-7 col-md-7 hidden-xs">
                    <div class="hp-card">
                        <img src="/assets/images/hp-feat-widget-{{- page.lang -}}.png" alt="Free weather widget">
                    </div>

                </div>
            </div>
            <div class="row feat-ww feat-content">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="intro">
                        <h2>{{ site.data.t[page.lang].hp-ww }}</h2>
                        <div class="visible-xs-block">
                            <div class="hp-card">
                                <img src="/assets/images/hp-feat-global.png" alt="QWeather Develop for Worldwide">
                            </div>
                        </div>
                        <p class="lead">
                            31 languages and 10 data centers, easy to serve your buisness around the world
                        </p>
                        <p>Give your products improved response times with our global data centers and automatic routing capabilities.</p>
                        <a href="{% if page.lang == "en" %}/en{% endif %}/docs/start/language/" class="btn btn-std btn-line btn-md">{{ site.data.t[page.lang].hp-seelang }}</a>
                            &nbsp;
                        <a href="{% if page.lang == "en" %}/en{% endif %}/help/buy#server-node" class="btn btn-std btn-line btn-md">{{ site.data.t[page.lang].hp-seenode }}</a>
                    </div>

                </div>
                <div class="col-sm-7 col-md-7 hidden-xs">
                    <div class="hp-card">
                        <img src="/assets/images/hp-feat-global.png" alt="QWeather Develop for Worldwide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hp-client">
        <div class="container">
            <h2>{{ site.data.t[page.lang].hp-client }}</h2>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <img src="/assets/images/hp-client-lg.png" alt="QWeather client list" class="visible-lg-block visible-xl-block">
                    <img src="/assets/images/hp-client-md.png" alt="QWeather client list" class="visible-md-block ">
                    <img src="/assets/images/hp-client-xs.png" alt="QWeather client list" class="visible-xs-block visible-sm-block">
                </div>
            </div>
        </div>
    </div>
    <div class="hp-moreinfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="hp-card">
                        <a href="https://www.qweather.com/{% if page.lang == "en" %}en/{% endif %}app/"
                            target="_blank" rel="noopener noreferrer">
                            <h2>{{ site.data.t[page.lang].getapp }}</h2>
                            <p>{{ site.data.t[page.lang].hp-getapp-des }}</p>
                            <img src="/assets/images/hp-card-download-app-{{- page.lang -}}.png" alt="Download QWeather APP">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="hp-card">
                        <a href="{% if page.lang == "en" %}/en{% endif %}/help/account/">
                            <h2>{{ site.data.t[page.lang].hp-devplan }}</h2>
                            <p>{{ site.data.t[page.lang].hp-devplan-des }}</p>
                            <img src="/assets/images/hp-card-developer.png" alt="Go to QWeather help center">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="hp-card">
                        <a href="{% if page.lang == "en" %}/en{% endif %}/price/">
                            <h2>{{ site.data.t[page.lang].price }}</h2>
                            <p>{{ site.data.t[page.lang].hp-price-des }}</p>
                            <img src="/assets/images/hp-card-price.png" alt="Price for QWeather service">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>