@charset "utf-8";

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-color: #333 !default;
$link-color: #066ff5 !default;
// $link-color: #1f262b !default;
$color-light: #ebebeb !default;
$color-dark: #231815 !default;
$color-black: #000 !default;
$color-white: #fff !default;
$color-grey: #696969 !default;
$color-grey-2: #767676 !default;
$font-weight: 400 !default;
$font-weight-light: 300 !default;
$base-font-size: 10px !default;
$font-size: 1.5rem !default;
$small-font-size: 1.2rem;
$line-height: 28px !default;
$letter-space: 0.2px !default;
$bg-color: #fff !default;
$code-bg-color: #eef !default;

@import "normalize.scss",
"grid.scss",
"iconfont.scss",
"common.scss",
"nav.scss",
"article.scss",
"highlight.scss",
"footer.scss",
"index.scss",
"price-index.scss",
"docs-index.scss"
;

