.docs-index-page {
  .container {
    max-width: 992px;
  }
  .headline {
    margin-bottom: 30px;
    text-align: center;
    h2 {
      font-size: 3rem;
      margin-bottom: 10px;
    }
  }

  .di-sdk-section,
  .di-api-section,
  .di-widget-section,
  .di-owp-section,
  .di-lib-section {
    background-color: #F5F5F7;
    margin-bottom: 20px;
    padding: 50px 0;
  }

  .di-resource-section {
    padding-bottom: 60px;
    text-align: center;
    padding: 50px 0;

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin-bottom: 1rem;
    }
  }

  .card {
    .card-bg {
      &.lib {
        background: linear-gradient(175deg, #0D2A33, #070707, #0F1432);
        background-color: #070707;
      }
      &.api {
        height: 388px;
        color: #fff;
        background-image: url("/assets/images/di-api.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 14px;
        position: relative;
      }
    }
    .card-item {
      box-shadow: 0 2px 5px 2px rgba(184, 184, 184, .1);
      border-radius: 14px;
      background-color: #fefefe;
      &.api {
        color: #fff;
        background-image: url("/assets/images/di-api.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 14px;
        position: relative;
      }
      &.widget-sdk-bg {
        background: linear-gradient(to right, #f0feff, #fbffff, #fff1ec);
        background-color: #f0feff;
        min-height: 180px;
        margin-top: 30px;
      }
      &.lib {
        color: #fff;
        background-image: url("/assets/images/di-lib.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 14px;
        position: relative;
      }
      .top-radius {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
      }
      .all-radius {
        border-radius: 14px;
      }

      .item-bg {
        &.lib {
          background: linear-gradient(175deg, #0D2A33, #070707, #0F1432);
          background-color: #070707;
        }
        &.widget-sdk {
          background-image: url(/assets/images/di-widget-sdk-en.png);
          background-repeat: no-repeat;
          background-size: 40%;
          background-position: left bottom;
          margin-left: 10px;
          padding-top: 10px;
        }
        &.widget-sdk-bg {
          background: linear-gradient(to right, #f0feff, #fbffff, #fff1ec);
          background-color: #f0feff;
          border-top-left-radius: 14px;
          border-top-right-radius: 14px;
        }
      }

      .item-content {
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        padding: 20px 15px 10px;
        .widget-p {
          min-height: 90px;
        }
        &.api,
        &.lib {
          margin-top: 100px;
          height: 285px;
        }
        &.widget-sdk {
          margin-top: 10px;
        }
        h3 {
          margin-bottom: 10px;
        }
        .content-link {
          margin-bottom: 10px;
        }
      }
    }

    img {
      width: 100%;
    }

  }

}

// responsive 
@media (max-width: 991px) {
  .docs-index-page {
    .card {
      .card-item {
        .item-bg {
          &.widget-sdk {
            background-size: 50%;
            margin-left: 5px;
          }
        }
        .item-content {
          &.api,
          &.lib {
            margin-top: 50px;
            height: 245px;
          }
          &.widget-sdk {
            margin-top: 20px;
          }
        }
      }

    }
  }
}

@media (max-width: 767px) {
  .docs-index-page {
    .card {
      .card-item {
        margin-bottom: 20px;
        .item-content {
          &.api,
          &.lib {
            margin-top: 40px;
            height: 206px;
          }
          &.widget-sdk {
            margin-top: 20px;
          }
        }
      }
    }
  }
}