.homepage-index-page {
  .hp-feature {
    padding-top: 15px;
    h2 {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 3.6rem;
    }

    hr {
      margin: 40px 0;
    }

    img {
      width: 100%;
      text-align: center;
    }

    .hp-card {
      border-radius: 15px;

      img {
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      &.card-dev {
        background: linear-gradient(60deg, #FFE8EA, #EDF3FF, #EDF2FB);
        background-color: #EDF3FF;
      }
    }
    .feat-content {
      margin-bottom: 80px;
      .intro {
        margin-top: 60px;
        // margin-bottom: 20px;
        .lead {
          font-size: 2rem;
          color: $color-dark;
          font-weight: $font-weight-light;
        }
        p {
          margin-bottom: 20px;
          line-height: 1.6;
          color: $color-grey;
        }
      }

    }
  }

  .hp-moreinfo {
    // margin-top: 40px;
    // background-color: #eee;
    padding: 40px 0;

    .hp-card {
      padding: 20px 20px 0;
      margin: 15px 0;
      background: linear-gradient(135deg, #FBFDFE 0, #EFEFEF 100%);
      background-color: #FBFDFE;
      border-radius: 15px;
      border: 1px solid #D3D7DC;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }

      >a {
        color: $font-color;
        &:hover,
        &:focus {
          color: #000;
          background-color: transparent;
          text-decoration: none;
          border: none;
        }

        p {
          color: #888;
          font-weight: $font-weight-light;
          margin-bottom: 20px;
        }
      }
    }
  }

  .hp-join-us {
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    color: $color-dark;

    span {
      margin: 0;
      font-size: 2rem;
    }
  }
  .hp-client {
    text-align: center;
    background-color: #F6F8FB;
    padding: 40px 0;
    h2 {
      margin-bottom: 40px;
      font-size: 3rem;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .container {
      max-width: 992px;
    }
    .logo-wall {
      padding: 40px 0 20px 0;
      .container {
        max-width: 992px;
      }
      .row {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 991px) {
  .homepage-index-page {
    .hp-feature {
      h2 {
        font-size: 3rem;
      }
      .feat-content {
        .intro {
          margin-top: 0;
          .lead {
            font-size: 1.8rem;
          }
          p {
            margin-bottom: 10px;
            line-height: 1.5;
            font-size: 1.4rem;
          }
        }  
      }
    }
  }
}

@media (max-width: 767px) {
  .homepage-index-page {
    .hp-feature {
      // text-align: center;
      padding-top: 10px;
      h2 {
        font-size: 2.6rem;
      }
      .feat-content {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 599px) {
  .homepage-index-page {
    .hp-feature {
      text-align: center;
      padding-top: 10px;
      h2 {
        font-size: 2.6rem;
      }
      .feat-content {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        .intro {
          p {
            margin-bottom: 15px;
          }
        }  
      }
      .feat-content:last-child {
        border: none;
      }
      .hp-card {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}