@charset "utf-8";

$font-family: "PingFang SC", "Source Han Sans CN", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$code-font-family: 'Courier New', Courier, monospace !default;
$font-color: #333 !default;
$link-font-color: #1a94ff !default;
$font-weight: 400 !default;
$font-weight-light: 300 !default;
$base-font-size: 10px !default;
$font-size: 1.5rem !default;
$small-font-size: 1.2rem;
$line-height: 28px !default;
$letter-space: 0.2px !default;
$bg-color: #fff !default;
$code-bg-color: #eef !default;

@import "common.scss",
"highlight.scss",
"common-responsive.scss",
"header.scss",
"footer.scss",
"index.scss",
"index-responsive.scss",
"plugin.scss",
"plugin-responsive.scss",
"sdk.scss",
"sdk-responsive.scss",
"price.scss"
;

