.main-nav {
  min-height: 50px;
  .brand {
    .sitename, .logo {
      vertical-align: middle;
    }
    .sitename {
      line-height: 20px;
    }
  }
  .menu, .second-menu {
    a {
      display: block;
      line-height: 20px;
      padding: 15px 3px;
    }
    li.active>a {
      border-bottom: 2px solid #000;
      padding-bottom: 5px;
      font-weight: 700;
    }
    .menu-console {
        border: 2px solid $color-link;
        padding: 4px 8px;
        margin: 9px 0;
        &:hover,
        &:focus {
          background-color: $color-link;
          color: #fff;
        }
    }
  }
}

.doc-bc {
  background-color: $color-dark;
  min-height: 40px;
  line-height: 20px;
  li+li::before {
    margin-right: 5px;
    content: "\003e";
    color: #bbb;
  }
  li.active >a {
    color: #fff;
    font-weight: normal;
  }
  a {
    color: #ccc;
    &:focus,
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $color-fa;
    }
  }
}

.doc-bc-mobile {
  select {
    min-height: 30px;
    color: $color-light;
    background-color: rgba($color: #111, $alpha: 0.85);
    // background: #111;
    width: 100%;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 20px;
  }
}

.docs-toc {
  position: sticky;
  align-self: flex-start;
  top: 61px;
  z-index: 10;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
      margin-bottom: 5px;

      >ul {
        padding-left: 10px;
        margin-top: 5px;
      }
    }

    ul:last-child,
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.faq-toc {
  ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    li {
      font-size: 2rem;
      margin-bottom: 5px;
      a {
        color: $color-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $color-font;
          text-decoration: none !important;
        }
      }

      >ul {
        list-style: disc;
        padding-left: 40px;
        margin-top: 10px;
        li {
          font-size: $font-size;
        }
      }
    }

    ul:last-child,
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.docs-nav {
  min-width: 180px;
  border-right: 1px solid #dfdfdf;
  .nav-section {
    border-bottom: 1px solid #dfdfdf;
    
    ul:last-child,
    li:last-child {
      margin-bottom: 0 !important;
    }
    ul li>a {
      display: block;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    li.active>a {
      font-weight: bold;
      color: $color-black;
      // padding-top: 2px;
      // padding-bottom: 2px;
      display: block;
      background-color: #f0fcff;
      border-radius: 6px;
    }
    .sub-nav {
      border-left: 1px solid $color-link;
      // padding-left: -10px;
    }
  }
  .nav-section:last-child {
    border: none;
  }
}