@media (max-width: 991px) {
  .plugin {
    .plugin-row-container {
      margin-top: 30px;
      .plugin-list-box {
        width: 100%;
        margin-bottom: 30px;

        .plugin-list-pic {
          min-height: 510px;
          img {
            width: 95%;
          }
          p {
            padding: 0 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .plugin-list-box {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .plugin-list-pic img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .plugin {
    .plugin-row-container {
      margin-top: 30px;
      .plugin-list-box {
        width: 100%;
        margin-bottom: 30px;

        .plugin-list-pic {
          min-height: 530px;
          img {
            width: 95%;
          }
          p {
            padding: 0 15px;
          }
        }
      }
    }
    .plugin-footer {
      padding: 30px 0 40px;

      p {
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .plugin-list-box {
    width: 100%;
  }

  .plugin-list-pic img {
    width: 100%;
  }
}

