.price {
  text-align: center;
  margin-bottom: 40px;

  .price-detail {
    padding: 60px 0 100px;
    background-color: #FAFAFA;

    .price-intro {
      display: block;

      h1 {
        margin: 0;
        font-size: 3.2rem;
        color: rgba(0, 0, 0, .8);
      }

      p {
        margin: 30px 0 0;
        font-size: 24px;
        color: rgba(48, 50, 52, .8);
        line-height: 33px;
      }
    }

    .price-box {
      margin-top: 80px;
      padding: 70px 0;
      border: 1px solid #D3D7DC;
      border-radius: 4px;
      text-align: center;
      min-height: 540px;
      background-color: #FFFFFF;

      h2 {
        display: inline-block;
        margin: 0 0 24px;
        font-size: 4rem;
        line-height: 3.2rem;

        span {
          display: block;
          padding: 20px;
        }

        &.free {
          border-color: #FF6800;

          .line {
            background-color: #FF6800;
          }
        }

        &.bill {
          border-color: #009AB2;

          .line {
            background-color: #009AB2;
          }
        }

        .line {
          font-size: 1px;
          height: 5px;
          border-radius: 5px;
        }
      }

      p {
        margin-top: 2rem;
        font-size: 2.4rem;
        color: #000000;
        line-height: 3.2rem;

        > span {
          display: inline-block;
          margin-top: 5px;
          font-size: 1.6rem;
          line-height: 2.8rem;
          color: rgba(35, 47, 55, .8);
        }
      }

      p {
        font-size: 2.0rem;
        letter-spacing: .05rem;
        line-height: 20px;
        margin-bottom: 20px;
        font-weight: $font-weight;
      }

      .page-header {
        border-bottom: 2px solid #333;
        padding-bottom: 20px;
      }
    }
  }

  .price-more {
    margin-bottom: 40px;
    padding: 0 40px;

    h2 {
      color: #000000;
      font-size: 3rem;
      font-weight: 400;
      line-height: 4.2rem;
      margin: 90px 0 30px;
      letter-spacing: 0.1rem;
    }

    h3 {
      text-align: left;
      margin: 0;

      font-weight: normal;
      border-bottom: 1px solid #C4C9CF;

      a {
        display: block;
        padding: 20px 0 10px;
        color: #000000;
        text-decoration: none;

        &:hover {
          color: #03AAC5;
        }

        &[aria-expanded="true"] {
          color: #03AAC5;
          .glyphicon-menu-up {
            display: inline-block;
          }
          .glyphicon-menu-down {
            display: none;
          }
        }

        &.collapsed {
          color: #000000;
          .glyphicon-menu-up {
            display: none;
          }
        }
        .glyphicon-menu-up {
          display: none;
          color: #03AAC5;
        }
      }
      i {
        display: inline-block;
        float: right;
        color: #000000;
      }
    }

    .price-more-detail {
      padding: 0 10px;
      text-align: left;
      p {
        margin-top: 20px;
      }
    }
  }


  .price-join {
    .price-btn {
      margin: 100px 0;
      background-color: #060421;
      color: #fff;
      border-radius: 2px;
      padding: 10px 56px;
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
    }
  }
}
