@media (max-width: 1199px) {
  .plugin-sdk {
    .sdk-item-container {
      .sdk-item {
        a {
          &.btn {
            border-radius: 0;
            padding: 8px 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 539px) {
  .plugin-sdk {
    .sdk-banner {
      .sdk-banner-content {
        a {
          width: 200px;
          margin: 15px 0 0;
        }
        span {
          width: 100%;
        }
      }
    }
    .sdk-item-container {
      .sdk-item {
        padding: 30px 30px;
        a {
          &.btn {
            display: block;
            width: 100%;
            margin: 5px 0;
            padding: 6px 13px;
            &.code {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
