.plugin-sdk {
  .sdk-banner {
    display: table;
    width: 100%;
    background: #46437D url("/assets/images/plugin-bg.png") no-repeat center;
    background-size: auto 100%;
    margin: 0 0 30px;
    text-align: center;

    .container {
      .sdk-banner-content {
        vertical-align: middle;
        padding: 33px 0;
        margin: 0 auto;

        a {
          display: inline-block;
          color: #FFFFFF;
          font-size: 16px;
          border-radius: 4px;
          border: 1px solid #FFFFFF;
          padding: 7px 40px;
          cursor: pointer;
          margin-top: 30px;
        }

        span {
          display: block;
          color: #FFFFFF;
          font-size: 24px;
          font-weight: 300;
          line-height: 33px;
        }
      }
    }
  }

  .sdk-item-container {
    padding: 0 10px;
    margin-bottom: 95px;

    .sdk-item {
      background-color: #DCF2F9;
      height: 250px;
      color: #000000;
      margin: 0 -5px;
      padding: 47px 47px 40px;

      &:first-child {
        margin-bottom: 15px;
      }

      &.android {
        background-color: rgba(255, 207, 74, .3);
      }

      h2 {
        font-size: 2.4rem;
        margin: 0 0 20px;
      }

      p {
        color: #61686E;
        margin-bottom: 40px;
        font-size: 1.8rem;
      }

      .version {
        color: #61686E;
        margin-bottom: 10px;
        font-size: 1.4rem;
      }

      .update-time {
        color: #61686E;
        font-size: 1.4rem;
      }

      a {
        &.btn {
          border-radius: 0;
          padding: 10px 35px;

          &.download {
            background-color: #000000;
            color: #FFFFFF;
            font-size: 1.6rem;
            text-align: center;
          }

          &.code {
            margin-left: 5px;
            background-color: #FFFFFF;
            color: #000000;
            font-size: 1.6rem;
            text-align: center;
          }
        }
      }
    }
  }

  .sdk-choice {
    margin-bottom: 90px;

    > h2 {
      margin: 0 0 32px;
      font-size: 32px;
      text-align: center;
      font-weight: normal;
    }

    > p {
      font-size: 18px;
      line-height: 24px;
      color: #61686E;
      text-align: center;
      margin-bottom: 40px;
    }

    .sdk-choice-phone {
      width: 320px;
    }

    .sdk-choice-container {
      padding-top: 40px;

      .sdk-choice-item {
        padding: 24px 0 20px;
        border: 1px solid transparent;
        margin-bottom: 30px;
        background-color: #F3F5F6;

        &.active {
          background-color: #FFFFFF;
          border-color: #000000;
        }

        h4 {
          font-weight: normal;
          font-size: 1.6rem;
          color: #1B1C1C;
        }

        .img-container {
          height: 90px;
        }

        .sdk-choice-item-1 {
          width: 64px;
          height: 80px;
        }

        .sdk-choice-item-2 {
          width: 142px;
          height: 54px;
          margin-top: 20px;
        }

        .sdk-choice-item-3 {
          width: 142px;
          height: 80px;
        }

        .sdk-choice-item-4 {
          width: 142px;
          height: 80px;
        }
      }
    }
  }

  .sdk-info {
    .row {
      margin-bottom: 60px;
      text-align: center;

      .sdk-info-title {
        color: #1B1C1C;
        font-size: 24px;
      }

      .sdk-info-detail {
        margin: 15px 0 30px;
        display: block;
        color: #747474;
        font-size: 14px;
      }

      small {
        color: #F5B23A;
        font-size: 18px;
      }
    }

    > h2 {
      margin: 0 0 50px;
      font-size: 3rem;
      color: #000000;
      text-align: center;
      font-weight: normal;
      letter-spacing: 2px;
    }

    .sdk-button {
      padding: 15px 50px;
      background-color: transparent;
      color: #000;
      border: 1px solid #000;
      border-radius: 0;
      margin: 0 0 40px;
      font-size: 1.6rem;

      :active {
        text-decoration: none;
      }

      :visited {
        text-decoration: none;
      }
    }
  }
}

.sdk-modal {
  .modal-dialog {
    width: 410px;
    margin-top: 200px;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-content {
    border-radius: 0;
    box-shadow: none;
  }

  .modal-body {
    padding: 10px 50px 30px;

    input {
      display: inline-block;
      vertical-align: middle;

      &.form-control {
        width: 250px;
        border-radius: 0;
        box-shadow: none;

        &:focus {
          box-shadow: none;
          border-color: #000000;
        }
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      cursor: pointer;
    }

    > h3 {
      font-size: 2rem;
      color: #030303;
      font-weight: normal;
      margin: 0 0 15px;
    }
  }
}

.choose-login-modal {
  .modal-dialog {
    width: 581px;
    margin-top: 200px;
  }

  .modal-content {
    border-radius: 0;
    box-shadow: none;

    .modal-body {
      padding: 50px 20px 20px;

      h4 {
        font-size: 2.4rem;
        color: #1B1C1C;
        font-weight: normal;
        margin: 0 0 35px;
      }

      .btn {
        width: 170px;
        border-radius: 4px;
        background-color: #F2F2F2;
        color: #747474;
        padding: 10px;
        font-size: 1.6rem;
        margin-bottom: 2rem;

        &.active {
          background-color: #000000;
          color: #ffffff;
        }
      }

      .no-account {
        color: #20C0F5;
        text-decoration: none;
      }

      p {
        padding: 0 43px;
        font-size: 1.2rem;
        color: #747474;
        line-height: 1.8rem;
      }
    }
  }
}


