// html and body
html {
  font-size: $base-font-size;
  position: relative;
  min-height: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: 1.6rem;
  background-color: $color-white;
  color: $color-font;
  margin-bottom: 316px;
}

// footnote
.footnotes {
  padding: 15px;
  margin: 40px 0 20px;
  color: $color-grey;
  font-size: 1.4rem;
  background-color: $color-fa;
  border-radius: 8px;

  & p:last-child,
  & ul:last-child,
  & ol:last-child {
    margin-bottom: 0;
  }
  &:lang(zh) {
    &::before {
      content: "本文参考资料";
      display: block;
      font-size: 1.6rem;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #333;
    }
  }
  &:lang(en) {
    &::before {
      content: "References";
      display: block;
      font-size: 1.6rem;
      font-weight: bold;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid #333;
    }
  }
}

// label
.label {
  display: inline;
  padding: 2px 4px;
  margin: 0 5px;
  font-size: $small-font-size;
  font-weight: $font-weight-light;
  line-height: 1;
  color: $color-grey;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  &.code {
    font-family: $code-font-family;
    background-color: $color-code-bg;
    padding: 1px 4px;
    color: $color-font;
    margin: 0 .1rem;
    font-size: 1.4rem;
  }
}

.masthead {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  h1 {
    color: $color-white;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }
  p {
    color: $color-light;
  }
  &.price {
    background: linear-gradient(60deg, #FFE8EA, #FFF6E8, #E8EEFF);
    background-color: #c2eafd;
    h1 {
      color: $color-black;
    }
    p {
      color: $color-font;
    }
  }
  &.showcase {
    background: linear-gradient(60deg, #855CF8, #8520EA, #5D24FD);
    background-color: #5C27F1;
  }
  &.docs {
    background: linear-gradient(60deg, #0D7FEF, #0456A6, #550DEF);
    background-color: #0B2F94;
  }
  &.faq {
    background: linear-gradient(60deg, #5A9CBE, #7482A9, #694F97);
    background-color: #7482A9;
  }
}
