.docs-home {
  .start {
    background-color: $color-link;
    min-height: 330px;
  }
  .start, .resource {
    ul {
      columns: 2;
    }
  }
  .bp, .resource {
    background-color: $color-fa;
    min-height: 330px;
  }
  .help {
    background-color: #7482A9;
    min-height: 330px;
  }
  .lib {
    background-color: $color-purple;
    min-height: 330px;
  }
  .data {
    background-color: $color-fa;
  }
}