@import "var";

.swagger-ui {
  font-family: $font-family;

  code,
  pre {
    font-family: $code-font-family;
  }

  a {
    color: $color-link;
    text-decoration: none;

    &:hover {
      color: $color-link;
      text-decoration: underline;
    }
  }
}
