<!doctype html>
<html class="tw:relative tw:min-h-full" lang="{{ .Language.Locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "seo.html" . }}
    {{ partial "assets.html" . }}
    {{ partial "gtm.html" . }}
  </head>
  <body class="tw:bg-white tw:font-sans tw:text-base tw:text-qw-text">
    {{ partial "main-nav.html" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
