/* html body */

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 150%;
  padding-top: 45px;
  margin-bottom: 30px;
}

/* hide doc-sidebar for mobile */

#header-slidebar.navbar-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
}

#header-nav-list .col-xs-3 {
  padding: 0;
}

#header-nav-list .col-xs-3 a {
  white-space: nowrap;
}

/* nav align center, for mobile */

#header-nav .navbar-header {
  text-align: center
}

#header-nav .navbar-brand {
  display: inline-block;
  float: none;
  height: 45px;
}

@media screen and (min-width: 760px) {
  #header-slidebar {
    display: none;
  }
}

#header-nav .navbar-brand {
  display: inline-block;
}

@media screen and (max-width: 760px) {
  body {
    padding-top: 110px
  }
  #header-nav {
    text-align: center;
  }
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  top: 0;
  width: 100%;
  background-color: #007bff;
  z-index: 1000;
}

header .navbar {
  margin: 0;
  border: none;
}

#doc-main {
  margin: 20px 0;
}

header .navbar-brand {
  padding: 10px 0;
  font-size: 1.6rem;
}

header .navbar-nav {
  margin: 0 0 0 45px;
}

header .navbar-toggle {
  margin-right: 0;
  padding: 14px 0;
}

header .navbar-toggle .icon-bar {
  color: #FFFFFF;
  background-color: #FFFFFF;
}

header .nav>li>a {
  padding: 15px 33px;
  font-size: 1.6rem;
  border: none;
  color: #ddd;
}

header .nav>li.active>a {
  color: #fff;
}

header .nav>li>a:focus, header .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

header .nav.navbar-right {
  margin-left: 0;
}

header .nav.navbar-right>li>a {
  padding: 15px 0 15px;
  font-size: 1.6rem;
  border: none;
  color: #ddd;
}

header .nav.navbar-right>li>a:focus, header .nav.navbar-right>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

header .nav.navbar-right>li>a.console {
  margin-top: 12px;
  margin-right: 18px;
  padding: 3px 16px 3px 16px;
  border: 1px solid #B8B8BA;
}

header .navbar-collapse {
  padding: 0;
}

header .nav .open>a, header .nav .open>a:hover, header .nav .open>a:focus {
  background-color: transparent;
}

header .navbar-nav>li>.dropdown-menu {
  border-radius: 0;
}

header .dropdown-menu {
  background-color: rgba(5, 5, 6, .8);
  padding: 5px 0;
  border: 0;
}

header .dropdown-menu>li>a {
  padding: 5px 20px;
  color: #eeeeee;
  font-size: 16px;
}

header .dropdown-menu>li>a:hover {
  background-color: rgba(200, 200, 200, .5);
  color: #FFFFFF;
}

@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
  .text-center-lg {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .text-center-md {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header .nav>li>a {
    padding: 20px 24px;
  }
  .text-center-sm {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .text-left-xs {
    text-align: left;
  }
  header .navbar-nav {
    margin-left: 0;
  }
  header .nav>li>a {
    padding: 15px 24px 10px 0;
  }
  header .nav.navbar-right>li>a.console {
    padding: 3px 16px 3px 0;
    border: none;
  }
  .text-center-xs {
    text-align: center;
  }
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer-nav {
  padding-left: 0;
  margin: 5px;
  font-size: 10px;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav li+li {
  margin-left: 15px;
}

.footer-nav a {
  font-weight: bold;
}

.footer-index {
  border: solid 1px #fff;
  background-color: #f5f5f5;
  margin: 0;
  padding: 30px 45px;
}

/* node */

.main-container {
  margin-bottom: 45px;
}

.submitted {
  font-size: 10px;
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 400;
}

.node-meta {
  margin-bottom: 10px;
  color: #999;
}

.region-content {
  padding-top: -23px;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eee;
}

/* toc */

.region-doc-toc {
  position: fixed;
  padding-top: 12px;
  margin-top: 5px;
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.section-nav ul {
  padding-left: 1rem
}

.toc-entry {
  display: block;
}

.toc-entry a {
  display: block;
  padding: .125rem 1.5rem;
  color: #99979c;
}

/* handle the offset from the top when the anchor links jump */

#article-content h3, #article-content h2, #article-content h1 {
  padding-top: 65px;
  margin-top: -65px;
}

/* font */

.node-content h1 {
  font-size: 30px;
}

.node-content h2 {
  font-size: 24px;
}

.node-content h3 {
  font-size: 18px;
}

.node-content h4 {
  font-size: 14px;
}

.node-content h5 {
  font-size: 12px;
}

.node-content h6 {
  font-size: 10px;
}

blockquote {
  padding: 10px 20px;
  margin: 20px 0 20px;
  font-size: 1.4rem;
  font-style: italic;
  color: #31708f;
  border-left: 5px solid #bce8f1;
  background-color: #d9edf7;
}

blockquote a {
  color: #245269;
  font-weight: 700;
  border-bottom: 1px dotted #245269;
}

blockquote a:hover {
  text-decoration: none;
}

/* link  */

a {
  color: #007bff;
}

.doc-list li.active {
  font-weight: bold;
  border-left: 1px solid #2fa4e7;
}

/* sidebar-doc */

.region-sidebar-doc {
  padding-top: 16px;
  position: fixed;
}

.region-sidebar-doc {
  background-color: #fff;
  max-height: calc(100vh - 8.5rem);
  overflow: auto;
}

.doc-misc-list {
  padding: 10px 0 0 0;
}

.panel-doc {
  border: none;
  margin-bottom: 20px;
}

.doc-nav {
  margin-top: 5px;
  display: block;
}

.doc-nav-group {
  padding-bottom: 10px;
}

.doc-nav-group ul {
  padding-left: 0;
  list-style: none;
  margin-top: 4px;
}

.doc-nav-title-link {
  font-weight: bold;
  font-size: 16px;
  color: #111;
}

.doc-nav-group a:hover {
  text-decoration: none;
  color: #555;
}

.doc-nav-item-link {
  color: #555;
  padding: 4px 10px!important;
}

.doc-panel-title a {
  color: #000;
}

.region-sidebar-doc .nav li.active {
  background-color: #eee;
  font-weight: bold;
}

.region-sidebar-doc .panel-group .panel {
  margin-bottom: 20px;
}

.doc-sidebar-header {
  margin-bottom: 16px;
}

/* table */

table {
  width: 100%;
  margin-bottom: 1.5rem;
  border-spacing: 2px;
  border-collapse: collapse;
  border-bottom: 1px solid #dee2e6;
}

thead {
  background-color: #e9ecef;
}

th, td {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

td {
  min-width: 4rem;
}

/* img */

@media (max-width: 768px) {
  .node-content img {
    width: 98%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem
  }
}

.node-content img {
  margin: 10px 0;
  max-width: 100%;
  height: auto;
  display: block;
}

/* code */

code {
  background-color: #f5f5f5;
  color: #000;
  border: 1px solid #ccc;
  margin: 0 .5rem;
}

pre code {
  border: none;
}

/* docindex */

#doc-index {
  margin-top: 40px;
}

#doc-index .title {
  color: #007bff;
  font-size: 3rem;
  font-weight: 600;
  font-family: inherit;
}

.btn-doc-model {
  background-color: #f8f9fa;
  color: #007bff;
  border: solid 1px #007bff;
  margin-right: 10px;
}

.btn-doc-index {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

#doc-index.btn.btn-doc-index.btn-lg:hover {
  color: #fff;
}

#doc-model .btn:hover {
  background: #007bff;
  color: #fff;
}

#doc-model {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 0;
  padding: 0;
  background: #ffff;
}

#doc-model .col-sm-6, #doc-model .col-md-4, #doc-model .col-sm-12 {
  border: 1px solid #ffff;
  background: #f8f9fa!important;
  margin: 0;
  padding: 30px 45px;
  height: 320px;
}

.doc-index-build {
  margin: 20px 0;
}

@media (max-width:768px) {
  #doc-index-header {
    text-align: center;
    padding-top: 10px !important;
  }
}

/* syntax */
.highlight .hll { background-color: #f5f5f5 }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */