{{ define "main" }}
<div class="upgrade-browser tw:mx-auto tw:my-0 tw:py-12 tw:px-6 tw:max-w-[680px]">
  <h1 class="tw:mb-8">{{ .Title }}</h1>
  {{ .Content }}
  <ul class="tw:list-none tw:p-0 tw:m-0 tw:my-6">
    {{ range slice
      (dict "name" "Safari (macOS only)" "url" "https://www.apple.com/safari/")
      (dict "name" "Firefox" "url" "https://www.mozilla.org/firefox/")
      (dict "name" "Chrome" "url" "https://www.google.com/chrome/index.html")
      (dict "name" "Edge" "url" "https://www.microsoft.com/edge")
    }}
    <li class="tw:mb-8"><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
