{{- $lang := .lang -}}
{{- $field := .field -}}
{{- $depth := add .depth 1 -}}
<li>
  <div class="api-response-field">
    <code>{{ $field.name }}</code>
    {{- with $field.type }} <em class="api-response-type">{{ . }}</em>{{ end -}}
    {{- with $field.description }} <span class="api-response-description">{{ . | markdownify }}</span>{{ end -}}
    {{- with $field.recursiveRef }} <span class="api-response-description">{{ T "recursive-reference" }}: <code>{{ . }}</code></span>{{ end -}}
    {{- if $field.nullable }} <em class="api-response-type">nullable</em>{{ end -}}
    {{- if $field.readOnly }} <em class="api-response-type">readOnly</em>{{ end -}}
    {{- if $field.writeOnly }} <em class="api-response-type">writeOnly</em>{{ end -}}
    {{- if $field.deprecated }} <em class="api-response-type">deprecated</em>{{ end -}}
    {{- with $field.discriminator }} <span class="api-response-description">discriminator: <code>{{ .propertyName }}</code></span>{{ end -}}
  </div>
  {{- $hasChildren := or $field.children $field.items $field.allOf $field.oneOf $field.anyOf $field.additionalProperties $field.not -}}
  {{- if $hasChildren }}
    <ul>
      {{- partial "openapi-intermediate/schema-fields.html" (dict "lang" $lang "node" $field "depth" $depth) -}}
    </ul>
  {{- end }}
</li>
