<!doctype html>
<html lang="{{ .Language.Locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "seo.html" . }}
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg">
    <link rel="stylesheet" href="/assets/swagger-ui/swagger-ui.css">
    {{- with resources.Get "scss/qweather-overrides.scss" | css.Sass (dict "targetPath" "assets/swagger-ui/qweather-overrides.css") }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{- end }}
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    <script src="/assets/swagger-ui/swagger-ui-bundle.js"></script>
    <script src="/assets/swagger-ui/qweather-initializer.js"></script>
  </body>
</html>
