@media (prefers-color-scheme: dark) {
  html.dark-mode .swagger-ui code,
  html.dark-mode .swagger-ui .renderedMarkdown code,
  html.dark-mode .swagger-ui .markdown code {
    color: #f0f1f1;
    background: #2a2e30;
  }

  html.dark-mode .swagger-ui .highlight-code pre,
  html.dark-mode .swagger-ui .highlight-code code,
  html.dark-mode .swagger-ui .microlight {
    color: #f0f1f1 !important;
  }
}
