{{- $rows := slice -}}
{{- range after 1 (partial "csv.html" "aqis") -}}
{{- $rows = $rows | append (dict "code" (index . 0) "values" .) -}}
{{- end -}}
{{- $rows = sort $rows "code" -}}
<table class="text-sm">
  <thead>
    <tr>
      <th>AQI</th>
      <th>{{ T "range" }}</th>
      <th>({{ T "level" }}) {{ T "category" }}</th>
      <th>{{ T "color" }}</th>
    </tr>
  </thead>
  <tbody>
    {{- range $rows }}{{ $row := .values }}{{ $ranges := split (index $row 4) "," }}{{ $colors := split (index $row 5) "|" }}{{ $levels := split (index $row 6) "," }}{{ $categories := split (index $row (cond (eq $.Page.Language.Lang "zh") 8 7)) "," }}
    {{- range $i, $range := $ranges }}{{ $rgbRaw := index $colors $i }}{{ $rgbParts := split (trim $rgbRaw "()") ","}}{{ $r := int (strings.TrimSpace (index $rgbParts 0)) }}{{ $g := int (strings.TrimSpace (index $rgbParts 1)) }}{{ $b := int (strings.TrimSpace (index $rgbParts 2)) }}{{ $brightness := add (mul $r 299) (mul $g 587) (mul $b 114) }}{{ $textClass := cond (lt $brightness 128000) "text-white" "text-black" }}{{ $color := printf "background-color: rgb%s;" $rgbRaw }}
    <tr>{{ if eq $i 0 }}
      <td rowspan="{{ len $ranges }}">
        <ul class="list-none p-0 m-0">
          <li><strong>{{ index $row 1 }}</strong></li>
          <li><code>{{ index $row 0 }}</code></li>
          <li>{{ T "pollutant" }}: {{ index $row 9 }}</li>
        </ul>
      </td>{{ end }}
      <td>{{ replace $range "-" " ~ " }}</td>
      <td>({{ index $levels $i }}) {{ strings.TrimSpace (index $categories $i) }}</td>
      <td class="{{ $textClass }}" style="{{ $color | safeCSS }}"><span>{{ $rgbRaw }}</span></td>
    </tr>{{ end }}{{ end }}
  </tbody>
</table>