<script src="/assets/js/docsearch@3.js" defer></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (document.querySelector("#docsearch") && typeof docsearch === "function") {
      docsearch({
        container: "#docsearch",
        appId: {{ .Site.Params.algolia.appId | jsonify | safeJS }},
        indexName: {{ .Site.Params.algolia.indexName | jsonify | safeJS }},
        apiKey: {{ .Site.Params.algolia.apiKey | jsonify | safeJS }},
        disableUserPersonalization: true{{ if eq .Language.Lang "zh" }},
        placeholder: "搜索文档"{{ end }}
      });
    }

    for (const link of document.links) {
      if (link.hostname && link.hostname !== document.location.hostname) {
        link.target = "_blank";
        link.rel = "noopener noreferrer";
      }
    }
  });
</script>
