---
layout: html
---

<main class="main-content container-fluid d-flex">
    <aside class="docs-nav small pt-5 pb-3 pr-3 mr-4 d-none d-md-block">
        {% include docs-nav.html %}
    </aside>
    <article class="article pt-4 width100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 py-3 content-border border-r10 " style="width: 0;">
                    <section class="article-headline mb-5 pb-3 border-bottom">
                        <div class="edit-this-docs go-right d-none d-sm-inline-block color-grey">
                            <a class="grey-link no-underline"
                                href="https://github.com/qwd/dev-site/edit/master/docs/{{ page.path }}" target="_blank" rel="noopener noreferrer">
                                <i class="ifq-pencil"></i>&nbsp;{{ site.data.t[page.lang].edit }}
                            </a>
                        </div>
                        <h1 class="mr-2 d-inline-block">{{ page.title }}</h1>
                    </section>
                    {% if page.tag.first == "guide" and page.tag.last != "overview" -%}
                    <section class="platform mb-5 small">
                        {% include platform.html %}
                    </section>
                    {%- endif %}
                    <section class="doc-content">
                        {% include anchor_headings.html html=content h_min=2 h_max=3 anchorBody='<i
                            class="ifq-link-horizontal"></i>' anchorClass="anchor-link no-underline"
                        anchorTitle="Permalink" %}
                    </section>
                </div>
                {% if page.tag.last != "overview" and page.toc == true %}
                <aside class="docs-toc small col-lg-2 d-none d-lg-block">
                    <h4 class="mb-2">{{- site.data.t[page.lang].tocnav -}}</h4>
                    {% include toc.html html=content h_min=2 h_max=3 anchor_class="grey-link" %}
                </aside>
                {% endif %}
            </div>
        </div>
    </article>

</main>