---
layout: html
---
<div class="main-container container-fluid">
    <div class="row" id='doc-main'>
        {% include docs-sidebar.html %}
        <section class="col-sm-9 col-md-8 col-lg-8 col-xs-12">
            <div class="region-content">
                <h1 class="page-header">{{ page.title}}</h1>
                <div class="node-content" id='article-content'>
                    <article id="{{ page.id}}" typeof="sioc:Item foaf:Document" class="article-content">
                        {{ content }}
                    </article>
                </div>
            </div>
        </section>
        {% if page.toc %}
        <section class="col-md-2 col-lg-2 hidden-sm hidden-xs">
            <div class="region-doc-toc">
                {{ content | toc_only }}
            </div>
        </section>
        {% endif %}
    </div>
</div>