---
layout: html
---
<div class="container">
    <div class="row" id='docs-main'>
        {% include docs-sidebar.html %}
        {% if page.tag[0] != "faq" and page.toc %}
        <section class="col-sm-9 col-md-7 col-lg-7 col-xs-12">
            {% else %}
            <section class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
                {% endif %}
                <div class="docs-header">
                    <h1>{{ page.title}}</h1>
                    {% if page.update %}<p class="node-meta">{{ site.data.t[page.lang].update }}{{ page.update }}</p>{% endif %}
                </div>
                <article class="docs-content">
                    {% if page.tag[0] =="faq" %}
                    {{ content | toc }}
                    {% else %}
                    {{ content }}
                    {% endif %}
                </article>
            </section>
            {% if page.toc and page.tag[0] != "faq" %}
            <section class="col-md-2 col-lg-2 hidden-sm hidden-xs">
                <div class="region-doc-toc">
                    {{ content | toc_only }}
                </div>
            </section>
            {% endif %}
    </div>
</div>