---
layout: html
---

<div class="colorful faq">
    <div class="container">
        <img src="/assets/images/help-colorful-banner.png" width="100" alt="">
        <h1>{{ site.data.t[page.lang].help }}</h1>
        <p>{{ site.data.t[page.lang].help-des }}</p>
    </div>
</div>
<nav class="qw-navbar faq-nav">
    <div class="container">
        <ul class="navbar-item faq-item">
            {%- assign faqs = site.pages | where: "lang", page.lang | where: "tag", "faq" | sort: 'ref' -%}
            {% for item in faqs %}
            <li {% if page.url == item.url %}class="active" {% endif %}>
                <a class="{{- item.ref -}}" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <aside>
                    <h4 class="hidden-xs">{{- site.data.t[page.lang].tocnav -}}</h4>
                    {% include toc.html html=content h_min=2 h_max=2 %}
                </aside>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <article>
                    <section class="faq-content">
                        {% if page.update %}<p class="node-meta">{{ site.data.t[page.lang].update }}{{ page.update }}</p>
                        {% endif %}
                        {% include anchor_headings.html html=content h_min=2 h_max=3 anchorBody='<i class="ifq-link-horizontal"></i>' anchorClass="anchor-link no-underline" anchorTitle="Permalink" %}
                    </section>

                </article>
            </div>
        </div>
    </div>
</div>