---
layout: article
---
{{ page.description | markdownify }}
{{ content }}
<div class="row">
    {%- assign arranged_guide = site.data.contents.reference_docs | where: "overview", "0-api-overview" -%}
    {%- assign arranged_ref = page.ref | replace: "sdk-android", "api" | replace: "sdk-ios", "api" -%}
    {%- for group in arranged_guide -%}
    {% assign current_guide = group.list | where: "name",  arranged_ref %}
    {%- for section in current_guide -%}
    {%- for item in section.data -%}
    {%- assign product_type = site.documents | where: "lang", page.lang | where_exp: "data", "data.tag[2] == page.tag[2]"  | where_exp: "type", "type.tag[3] == item.type" | sort: "weight" -%}
    {%- assign product_type_name = product_type | first-%}
    {%- if forloop.length == 1 -%}
    <div class="col-12">
    {%- else -%}
    <div class="col-12 col-md-6">        
    {%- endif -%}
        <h3>{{ product_type_name.title }}</h3>
        <p class="small">
            {{ product_type_name.content | markdownify | split: "</p>" | first | remove_first: "<p>" }}
            </p>
        <ul class="clear-list">
            {%- for docs in product_type -%}
            <li class="mb-2">
                <a href={{ docs.url }}>{{ docs.title }} for {{ docs.tag[1] | replace: 'api', 'API' | replace: 'ios', 'iOS' | replace: 'android', 'Android' }}</a>      
            </li>     
            {%- endfor -%}
        </ul>
    </div>   
    {%- endfor -%} 
    {%- endfor -%}
    {% endfor %}
</div>

