<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title/description/etc... -->
    {% include seo.html %}
    <!-- hreflang for current page -->
    {%- if page.lang == "zh" %}
    <link rel="alternate" hreflang="en" href="{{- site.url -}}/en{{- page.url -}}" />
    <link rel="alternate" hreflang="zh" href="{{- site.url -}}{{- page.url -}}" />
    {%- else %}
    <link rel="alternate" hreflang="en" href="{{- site.url -}}{{- page.url -}}" />
    <link rel="alternate" hreflang="zh" href="{{- site.url -}}{{- page.url | remove_first: "/en" -}}" />
    {%- endif %}
    <!-- QWeather APP AppStore -->
    <meta name="apple-itunes-app" content="app-id=1461458147, app-argument=weather" />
    <!-- favicons -->
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg?{{ site.data.v.favicon }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?{{ site.data.v.favicon }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?{{ site.data.v.favicon }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?{{ site.data.v.favicon }}">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?{{ site.data.v.favicon }}" color="#1a2226">
    <link rel="manifest" href="/assets/favicon/site.webmanifest?{{ site.data.v.favicon }}">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?{{ site.data.v.favicon }}">
    <meta name="theme-color" content="#1a2226">
    <!-- main style -->
    <link rel="preload" href="/assets/css/style.css?{{ site.time | date: "%s" }}" as="style" />
    <link rel="stylesheet" href="/assets/css/style.css?{{ site.time | date: "%s" }}" />
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0; url=https://dev.qweather.com/upgrade-browser/">
    <![endif]-->
    <!-- webmaster_verifications -->
    <meta name="google-site-verification" content="{{ site.webmaster_verifications.google }}" />
    <meta name="msvalidate.01" content="{{ site.webmaster_verifications.bing }}" />
    <meta name="baidu-site-verification" content="{{ site.webmaster_verifications.baidu }}" />
    {% include gtm.html %}
</head>
<body>
    {% include main-nav.html %}
    {% if page.ref != "docs-home" and page.collection == "zh" or page.collection == "en"  %}
    {% include docs-bc.html %}
    {% endif %}
    {{ content }}
    {% include footer.html %}
</body>
</html>
