---
layout: html
---

<div class="main-content doc-legacy">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <article>
                    <section class="article-headline">
                        <h1>{{ page.title}}</h1>
                    </section>
                    <section class=" doc-content">
                        {% include anchor_headings.html html=content  h_min=2 h_max=3 anchorBody='<i class="ifq-link-horizontal"></i>' anchorClass="anchor-link no-underline" anchorTitle="Permalink" %}
                    </section>
                </article>
            </div>
            <div class="col-md-3 col-lg-3 hidden-sm hidden-xs">
                <aside>
                    <h4>{{- site.data.t[page.lang].tocnav -}}</h4>
                    {% include toc.html html=content html=content h_min=2 h_max=3 %}
                </aside>
            </div>
        </div>
    </div>
</div>