---
layout: clear
---
<div class="upgrade-browser mx-auto my-0 py-5 px-3" style="max-width: 680px;">
    <h1 class="mb-4">{{ site.data.t[page.lang].ub-title }}</h1>
    <p>{{ site.data.t[page.lang].ub-desc }}</p>
    <ul class="clear-list my-3">
        <li class="mb-4">
            <a href="https://www.apple.com/safari/" target="_blank" rel="noopener noreferrer">
                <img class="d-inline-block text-v-middle mr-2" src="/assets/images/content/icon-safari.png" alt="" width="64"><span class="d-inline-block text-v-middle">Safari (macOS only)</span>
            </a>
        </li>
        <li class="mb-4">
            <a href="https://www.mozilla.org/firefox/" target="_blank" rel="noopener noreferrer">
                <img class="d-inline-block text-v-middle mr-2" src="/assets/images/content/icon-firefox.png" alt="" width="64"><span class="d-inline-block text-v-middle">Firefox</span>
            </a>
        </li>
        <li class="mb-4">
            <a href="https://www.google.com/chrome/index.html" target="_blank" rel="noopener noreferrer">
                <img class="d-inline-block text-v-middle mr-2" src="/assets/images/content/icon-chrome.png" alt="" width="64"><span class="d-inline-block text-v-middle">Chrome</span>
            </a>
        </li>
        <li>
            <a href="https://www.microsoft.com/edge" target="_blank" rel="noopener noreferrer">
                <img class="d-inline-block text-v-middle mr-2" src="/assets/images/content/icon-edge.png" alt="" width="64"><span class="d-inline-block text-v-middle">Edge</span>
            </a>
        </li>
    </ul>
    <p class="italic small text-bold">{{ site.data.t[page.lang].ub-note }}</p>
    <p>{{ site.data.t[page.lang].ub-support }}</p>
</div>
</body>